__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.logs
downloaded_recordings/
.venv/
.idea/
instance/
uploads/
/temp_wav/
/a_sub_system/edge_client/temp_wav/
/a_sub_system/batch_delete/delete_backups/
/a_sub_system/batch_delete/delete_reports/
/a_sub_system/frontend/temp_wav/
/a_sub_system/train/RF/training_reports/
/a_sub_system/train/RF/evaluation_results/
/debug_tools/batch_delete/delete_backups/backup_20251023_172913.json
/debug_tools/batch_delete/delete_backups/backup_20251023_174938.json
/debug_tools/batch_delete/delete_reports/delete_report_20251023_172918.json
/debug_tools/batch_delete/delete_reports/delete_report_20251023_174943.json
/a_sub_system/analysis_service/logs/*
/debug_tools/batch_delete/delete_backups/*
/debug_tools/batch_delete/delete_reports/*
/debug_tools/download_all_file/downloaded_recordings/*
/a_sub_system/train/py_cyclegan/checkpoints/*
/a_sub_system/train/py_cyclegan_original/checkpoints/*
/a_sub_system/train/py_cyclegan_original/logs/*
/a_sub_system/analysis_service/models/*
/a_sub_system/train/RF/models/*
/a_sub_system/train/.claude/settings.local.json
/debug_tools/Integration_upload/reports/*
/debug_tools/Integration_upload/upload_data/*
/a_sub_system/analysis_service_v2/logs/*
/a_sub_system/analysis_service_v2/models/*
/debug_tools/simplify_mongodb_record/output/*
